<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur labore sit numquam earum? Odit, aspernatur facilis? Sapiente</p>
    </div>
</div>